<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style>
body{
	margin:0;
	padding:0;
	background:#333;
}
</style>
<script type="text/javascript" src="showFlash.js"></script>
</head>
<body>
<script type="text/javascript">
	showFlash("wall.swf?"+Math.random(),"wall",1920,1080,false,"switch=1&change=960");
	//
	function getVideoInfo(){
		return ["郑州综合频道","rtmp://192.168.3.49/tv_cooperation/wRv91rp/live",
				"郑州商都频道","rtmp://192.168.3.49/tv_cooperation/sT3aqfa/live",
				"郑州文体频道","rtmp://192.168.3.49/tv_cooperation/doavoSv/live",
				"郑州法制频道","rtmp://192.168.3.49/tv_cooperation/6ao9btt/live",
				"武汉新闻频道","rtmp://192.168.3.49/tv_cooperation/jfDyuzx/live",
				"深圳DV频道","rtmp://192.168.3.49/tv_cooperation/xO1xQFv/live",
                                "西宁夏都房车频道","rtmp://192.168.3.49/tv_cooperation/F9r7wN0/live",
                                "西宁文化先锋频道","rtmp://192.168.3.49/tv_cooperation/FCpnj1F/live",
                                "石家庄新闻频道","rtmp://192.168.3.49/tv_cooperation/g4Id6wE/live",
                                "石家庄娱乐频道","rtmp://192.168.3.49/tv_cooperation/iD4lsxI/live",
                                "石家庄影视频道","rtmp://192.168.3.49/tv_cooperation/6dlwSc9/live",
                                "石家庄都市频道","rtmp://192.168.3.49/tv_cooperation/Ci0f4s5/live"];}
	
</script>

</body>
</html>
