{% extends 'index.html' %}

{% block stylesheets %}
    <script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
{% endblock %}

{% block page_head %}

{% endblock %}

{% block main_content %}
    <div class="panel-body">
        <div class="row">
        {% for foo in ip %}
            <div class="col-md-8">


            <span class="label label-success ">{{ foo }}</span>

        {% endfor %}
            </div>

        </div>
    </div>

    <div id="content"></div>

    <input type="button" onclick="clearInterval(document.update)" value="stop">
{% endblock %}

{% block scritps %}
    <script>
        $(document).ready(function () {
            var update = setInterval(function () {
                $("#content").load('/tools/monitor/time/');
            },1000);


        });
    </script>
{% endblock %}