{% extends 'index.html' %}

{% block stylesheets %}

{% endblock %}

{% block page_head %}

{% endblock %}

{% block main_content %}
<div id="531_0befe798dfdf4032a2a1d006f3bd39a1" style="text-align:center;"></div>
<script type="text/javascript" src="http://sttv.hls.cutv.com/cutvlive/lKGXIQa/hls/4KwXcQ0_sd.m3u8"></script>
<script type="text/javascript">
   HONGSHIYUN.embed("531_0befe798dfdf4032a2a1d006f3bd39a1",{
   	 width:350,
   	 height:280,
   	 autoPlay:false
   	 });
</script>
{% endblock %}

{% block scritps %}

{% endblock %}